{# src/Service/Bundle/Resources/views/Page/index.html.twig #}
{% extends 'ServiceBundle::layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-4">
              1 of 3
            </div>
            <div class="col-6 col-md-4">
              1 of 3
            </div>
            <div class="col-6 col-md-4">
              1 of 3
            </div>
            
        </div>
    </div>
{% endblock %}